  /*Background gradient*/
  
  body {
      background: -webkit-linear-gradient(to right, #1d976c, #93f9b9);
      background: linear-gradient(to right, #11998e, #38ef7d);
      margin: 0;
  }
  /*Navbar css style*/
  
  ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  
  ul.topnav li {
      float: left;
  }
  
  ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 28px 16px;
      text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
      background-color: #111;
      height: 80px;
  }
  
  ul.topnav li a.active {
      background-color: #4CAF50;
      height: 80px;
  }
  
  ul.topnav li.right {
      float: right;
  }
  /*Scroll down button*/
  
  #tag {
      color: #FFEEEE;
      text-align: center;
      padding-top: 100px;
      font-family: 'Lobster', cursive;
      font-size: 28px;
      ;
      letter-spacing: 6px;
  }
  
  .fas {
      color: black;
  }
  
  #sell {
      display: none;
  }
  
  #by {
      display: none;
  }
  /*Slideshow*/
  
  #slideshow {
      margin-top: 7.8%;
      margin-right: 30px;
      margin-left: 100px;
  }
  /*Car type select box */
  
  .box {
      position: relative;
      display: block;
      width: 23%;
      margin: 0 auto;
      font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
      font-size: 18px;
      color: #60666d;
      height: 40px;
      border-radius: 3%;
      background-color: #C6FFDD
  }
  /*New car or old car symbol image hovering */
  
  #lg:hover {
      opacity: 0.3;
  }
  /*why choose us*/
  
  .white-section {
      background-color: #fff;
      text-align: center;
  }
  
  #features {
      position: relative;
  }
  
  .feature-title {
      font-size: 1.5rem;
  }
  
  .feature-box {
      padding: 4.5%;
  }
  
  .icon {
      color: #20BDFF;
      margin-bottom: 1rem;
  }
  
  .icon:hover {
      color: #ff4c68;
  }
  /*Download*/
  
  #download {
      text-align: center;
  }
  
  .download-button {
      margin: 20px 10px;
  }
  /*Footer*/
  
  #footer {
      text-align: center;
  }
  
  .social-icon {
      margin: 20px 10px;
  }
  
  .buy {
      display: inline;
      margin-top: -5000px;
      padding-left: 60px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .about-img__container {
      position: relative;
  }
  
  .about-img__container::before {
      content: "";
      position: absolute;
      top: -1.9rem;
      left: -1.8rem;
      width: 81%;
      height: 100%;
      outline: 1.5rem;
      outline-style: solid;
      outline-color: #07205a;
      z-index: 1;
      transition: all 1.4s ease-in-out;
  }
  
  .carimg {
      position: relative;
      z-index: 2;
  }
  
  .about-img__container:hover:before {
      top: 0;
      left: 0;
  }
  
  .login-box a:hover {
      background: #03e9f4;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }
  
  .login-box a span {
      position: absolute;
      display: block;
  }
  
  .login-box a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
      0% {
          left: -100%;
      }
      50%,
      100% {
          left: 100%;
      }
  }
  
  .login-box a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
      0% {
          top: -100%;
      }
      50%,
      100% {
          top: 100%;
      }
  }
  
  .login-box a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
      0% {
          right: -100%;
      }
      50%,
      100% {
          right: 100%;
      }
  }
  
  .login-box a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
      0% {
          bottom: -100%;
      }
      50%,
      100% {
          bottom: 100%;
      }
  }
  
  .login-box a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #03e9f4;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px
  }