@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300:400');

html {

    box-sizing: border-box ;
    --duration: .45s ;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
    --color-1: #000 ;
    --color-2: #51d5c2 ;

}

html *,
html *::before,
html *::after {

    box-sizing: inherit ;

}

body {
    font-family: 'Nunito', sans-serif ;

}

.para{
    font-size: medium;
    padding-top: 15px;
    padding-left: 200px;
    padding-right:200px;
    text-align: justify;
    text-justify: inter-word;
}
#foot{
  color: lightcoral;
}


a{
    text-decoration: none;
    color: #51d5c2 ;
}



.menu {
    margin: 0 ;
    width: 42em ;
    display: flex ;
    height: 12em ;
    user-select: none ;
    position: relative ;
    align-items: center ;
    padding: 0 1.9em 2.5em ;
    justify-content: center ;
    background: linear-gradient(60deg, rgba(84,58,183,.5) 0%, rgba(0,172,193,.5) 100%);
    border-radius: 4.5em ;
    -webkit-tap-highlight-color: transparent ;

}


.menu::after {

    height: 5% ;
    width: 35% ;
    bottom: 10% ;
    content: " " ;
    position: absolute ;
    border-radius: 1em ;
    background-color: #f2f3f4 ;


}

.menu__item {

    all: unset ;
    flex-grow: 1 ;
    display: flex ;
    cursor: pointer ;
    overflow: hidden ;
    padding-top: 0.5em ;
    position: relative ;
    align-items: center ;
    color: var(--color-1) ;
    justify-content: center ;
    transition: flex-grow var(--duration) var(--cubic) ;
    
}

.menu__icon {
    
    font-size: 1.05em ;
    stroke: currentColor ;
    transition: transform var(--duration) var(--cubic) ;
    
}

.menu__item::before {

    top: 9% ;
    left: 18.4% ;
    width: 1.5em ;
    height: 1.5em ;
    content: " ";
    position: absolute ;
    border-radius: 50% ;
    transform: scale(0) ;
    transform-origin: center ;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(250, 1, 128, 0.2));
    transition: transform var(--duration) var(--cubic) ;

}

.menu__item::after {

    left: 0;
    bottom: 0 ;
    content: " " ;
    height: 0.25em ;
    position: absolute ;
    border-radius: 2em ;
    transform-origin: left center ;
    background-color: currentColor ;
    width: calc( var(--lineWidth) + 5px ) ;
    transform: translate3d(3em , 0, 0) scaleX(0) ;
    transition: transform calc( var(--duration) + .2s) var(--cubic) ;

}


.menu__text {

    left: 4.15em ;
    font-size: 1.5em ;
    position: absolute ;
    text-transform: capitalize ;
    letter-spacing: .01em ;
    transform: translate3d(0, 109%, 0) ;
    transition: transform calc( var(--duration) / 3.7 ) ;

}

.menu__item.active {
    
    flex-grow: 2.7 ;
    color: var(--color-2) ;
    
}

.menu__item.active .menu__icon {
    
    transform: translate3d(-95% , 0, 0) ;

    
}

.menu__item.active::before {

    transform: scale(1) ;

}

.menu__item.active::after {

    transform: translate3d(6.3em , 0, 0) scaleX(1) ;
    transition: transform var(--duration) var(--cubic) ;

}

.menu__text.active {

    transform: translate3d(0 , 0, 0) ;
    transition: transform calc(var(--duration) / 1.5) ;
}

.icon {

    --duration-icon: 1s ;
    
    fill: none ; 
    width: 2.5em ;
    height: 2.5em ;
    display: block ;
    stroke-width: 15 ;
    stroke-miterlimit: 10 ;
    
}


.active #home-anm {

    animation: home var(--duration-icon) ;
}

@keyframes home {

    25% {

        transform: translate3d(0, -.8em , 0) ;

    }

    50% {

        transform: translate3d(0, .5em , 0) ;

    }


}

#strategy-anm {
    
    transform: scaleX(.85) ;
    transform-origin: center ;

}

.active #strategy-anm {
    
    animation: strategy var(--duration-icon) ;

}

@keyframes strategy {
    
    50% {

        transform: scaleX(1) ;
        
    }
    
    100%{
        
        transform: scaleX(.85) ;

    }

}

.active #strategy-cir1 {

    animation: strategy-cir1 var(--duration-icon);
}

.active #strategy-cir2 {

    animation: strategy-cir2 var(--duration-icon) .1s;
}

.active #strategy-cir3 {

    animation: strategy-cir3 var(--duration-icon) .2s;
}

@keyframes strategy-cir1 {
    
    50% {

        transform: translate3d(-.7em,-0.7em,0);
        
    }
    
    100%{
        
        transform: translate3d(0,0,0);


    }

}

@keyframes strategy-cir2 {
    
    35% {

        transform: translate3d(0,-0.7em,0);
        
    }
    
    100%{
        
        transform: translate3d(0,0,0);


    }

}

@keyframes strategy-cir3 {
    
    35% {

        transform: translate3d(.7em,-0.7em,0);
        
    }
    
    100%{
        
        transform: translate3d(0,0,0);


    }

}


.active #period-anm {

    transform-origin: center 100% ;
    animation: period var(--duration-icon) ;

}

.active #period-cir {

    transform-origin: center ;
    animation: period-cir var(--duration-icon) ;

}

.active #period-line {

    stroke-dasharray: 66 ;
    animation: period-line calc( var(--duration-icon) / 2.5 ) reverse ;

}


@keyframes period {

    35% {

        transform: scaleY(.85) ;

    }

    60% , 70% {

        transform: scaleY(1.2) ;

    }

    100% {
        
        transform: scaleY(1) ;

    }

}

@keyframes period-cir {

    0%{

       opacity: 0 ;

    }

    35% {

        opacity: 1 ;
        transform: translate3d(15%, -55%, 0) ;

    }

    60%{

        opacity: 0 ;
        transform: translate3d(-8%, -50%, 0) ;

    }

}

@keyframes period-line {


    100% {

        stroke-dashoffset: 66 ;

    }

}


.active #security-cir {

    transform-box: fill-box ;
    transform-origin: center ;
    animation: security-cir calc( var(--duration-icon) / 1.5 ) ;

}

@keyframes security-cir {


    0% {

        transform: scale(0) ;
        
    }
    
    100% {
        
        transform: scale(1) ;
        
    }

}

.active #security-strok {

    stroke-dasharray: 96;
    animation: security-strok calc( var(--duration-icon) / 1.2 ) ;

}

@keyframes security-strok {


    0% {

        stroke-dashoffset: 60 ;
        
    }
    
    100% {
        
        stroke-dashoffset: 230 ;
        
    }

}

.active #settings-anm {

    transform-box: fill-box ;
    transform-origin: center ;
    animation: settings-anm calc( var(--duration-icon) / 1.5 ) ;

}

@keyframes settings-anm {


    0% {

        transform: rotate(-60deg);
        
    }
    
    50% {
        
        transform: rotate(60deg);
        
    }

}


.inner-header {
    height: 45vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  .d {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
  }

  #o {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
  }


  header {
    box-shadow: 0px 5px 5px #999999;
    height: 100px;
    position: relative;
    display: none;
  }

  .mobile-header-nav {
    background-color: #222222;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 1;
  }
  .mobile-header-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-header-nav li a {
    color: white;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .mobile-header-nav li a:hover {
    background-color: #2f2f2f;
  }
  
  .hamburger-menu {
    display: inline-block;
    height: 100px;
    padding: 35px 25px;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-menu:hover {
    cursor: pointer;
  }
  .hamburger-menu .menu-item {
    background: black;
    display: block;
    height: 3px;
    margin: 0 0 10px;
    transition: all 0.3s ease-in-out;
    width: 40px;
  }
  .hamburger-menu.open .menu-item {
    margin: 0 0 5px;
  }
  .hamburger-menu.open .menu-item:first-child {
    transform: rotate(45deg);
    transform-origin: 10px;
  }
  .hamburger-menu.open .menu-item:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.open .menu-item:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 8px;
  }




  @media (max-width: 1100px){
    .para{
        padding-left: 25px;
        padding-right: 35px;
    }
  }
  
  /*Shrinking for mobile*/
  @media (max-width: 400px) {

    .menu {
        display:none;
    }
    header{
        display: block;
    }
  }

  @media (max-width: 768px) {

    

    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    #d {
      font-size:24px;
      margin-top: 20px;
    }
    .para{
        padding-left: 10px;
        padding-right: 10px;
    }
  }

  


  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  
  .svg-inline--fa {
    vertical-align: -0.200em;
  }
  
  .rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 15%;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-telegram, .fa-instagram {
    font-size: 20px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.telegram {
    background: lightcoral;
  }
  
  .rounded-social-buttons .social-button.telegram:hover, .rounded-social-buttons .social-button.telegram:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }


  /**/
.row img {
    cursor: pointer;
    display: block;
    width: 100%;
}
.row .caption {
  cursor: pointer;
}

.row:nth-of-type(1) .c {
  width: 45%;

}

  .effect1 {
    overflow: hidden;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    position: relative;
}

.effect1 img {
    position: relative;
}

/*Line*/
.effect1 .caption:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 49%;
    width: 3px;
    height: 0;
    background-color: #fff;
    transition: top .5s, height .5s;
}

.effect1:hover .caption:before, .effect1:active .caption:before {
    top: 0;
    height: 100%;
}

/*Left & Right Side*/
.effect1 .leftSide,
.effect1 .rightSide {
    position: absolute;
    top: 0;
    left: -125%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 100%);
    transition: left .7s;
}

.effect1 .rightSide {
    left: 125%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100%);
}

.effect1:hover .leftSide,
.effect1:active .leftSide {
    left: 0;
}

.effect1:hover .rightSide,
.effect1:active .rightSide {
    left: 49%;
}

/* Text */
.effect1 .leftInfo,
.effect1 .rightInfo {
    opacity: 0;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transition: opacity .6s, left .6s;
}

.effect1 .leftInfo {
    color: black;
    transform: translate(-100%, -50%);
    left: 0;
}

.effect1 .rightInfo {
    transform: translateY(-50%);
    left: 100%;
}

.effect1:hover .leftInfo,
.effect1:active .leftInfo
{
    opacity: 1;
    left: 47%;
}

.effect1:hover .rightInfo,
.effect1:active .rightInfo {
    opacity: 1;
    left: 53%;
}



@media only screen and (max-width: 1200px) {
  
  .row:nth-of-type(1) .c {
    width: 70%;
    padding: 0px;
  
  }
}
@media only screen and (max-width: 1000px) {
  
  .row:nth-of-type(1) .c {
    width: 75%;
    padding: 0px;
  
  }
}
@media only screen and (max-width: 800px) {
  
  .row:nth-of-type(1) .c {
    width: 80%;
    padding: 0px;
  
  }
}

@media only screen and (max-width: 600px) {
  
  .row:nth-of-type(1) .c {
    width: 90%;
    padding: 0px;
  
  }
}
@media only screen and (max-width: 400px) {
  
  .row:nth-of-type(1) .c {
    width: 100%;
    padding: 0px;
  
  }
}
@media only screen and (max-width: 300px) {
  
  .row:nth-of-type(1) .c {
    width: 110%;
    padding: 0px;
  
  }
}

input[type="submit"],
#reset
	 {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		letter-spacing: 0.125em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		font-size: 0.75rem;
		max-width: 20rem;
		height: 3.75em;
		line-height: 3.75em;
		border-radius: 3.75em;
		padding: 0 2.5em;
		text-overflow: ellipsis;
		overflow: hidden;
  }

  input[type="submit"].icon:before,
		#reset.icon:before {
			margin-right: 0.5rem;
		}

    input[type="submit"].fit,
    #reset.fit
    {
			width: 100%;
		}

    input[type="submit"].small,
    #reset.small
     {
			font-size: 0.6rem;
			height: 3.325em;
			line-height: 3.325em;
			border-radius: 3.325em;
			padding: 0 2em;
		}

    input[type="submit"]:hover,
    #reset:hover {
			box-shadow: inset 0 0 0 1px #47D3E5;
			color: #47D3E5 !important;
		}

    input[type="submit"]:active {
			background-color: rgba(71, 211, 229, 0.2);
			box-shadow: inset 0 0 0 1px #47D3E5;
			color: #47D3E5 !important;
		}


    form {
      margin: 2 5px 0 2rem 0;

    }
  
      form > :last-child {
        margin-bottom: 0;
      }
  
      form > .fields {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 3rem);
        margin: -1.5rem 0 2rem -1.5rem;
      }
  
        form > .fields > .field {
          -moz-flex-grow: 0;
          -webkit-flex-grow: 0;
          -ms-flex-grow: 0;
          flex-grow: 0;
          -moz-flex-shrink: 0;
          -webkit-flex-shrink: 0;
          -ms-flex-shrink: 0;
          flex-shrink: 0;
          padding: 1.5rem 0 0 1.5rem;
          width: calc(100% - 1.5rem);
        }
  
          form > .fields > .field.half {
            width: calc(50% - 0.75rem);
          }
  
          form > .fields > .field.third {
            width: calc(100%/3 - 0.5rem);
          }
  
          form > .fields > .field.quarter {
            width: calc(25% - 0.375rem);
          }
  
      @media screen and (max-width: 480px) {
  
        form > .fields {
          width: calc(100% + 3rem);
          margin: -1.5rem 0 2rem -1.5rem;
        }
  
          form > .fields > .field {
            padding: 1.5rem 0 0 1.5rem;
            width: calc(100% - 1.5rem);
          }
  
            form > .fields > .field.half {
              width: calc(100% - 1.5rem);
            }
  
            form > .fields > .field.third {
              width: calc(100% - 1.5rem);
            }
  
            form > .fields > .field.quarter {
              width: calc(100% - 1.5rem);
            }
  
      }
  
    label {
      display: block;
      font-size: 0.9rem;
      font-weight: 400;
      margin: 0 0 1rem 0;
    }
  
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="url"],
    select,
    textarea {
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-color: transparent;
      border-radius: 4px;
      border: none;
      border: solid 1px;
      color: inherit;
      display: block;
      outline: 0;
      padding: 0 0.825rem;
      text-decoration: none;
      width: 100%;
    }
  
      input[type="text"]:invalid,
      input[type="password"]:invalid,
      input[type="email"]:invalid,
      input[type="tel"]:invalid,
      input[type="search"]:invalid,
      input[type="url"]:invalid,
      select:invalid,
      textarea:invalid {
        box-shadow: none;
      }
  
    select {
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) center;
      height: 2.75rem;
      padding-right: 2.75rem;
      text-overflow: ellipsis;
    }
  
      select:focus::-ms-value {
        background-color: transparent;
      }
  
      select::-ms-expand {
        display: none;
      }
  
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="url"],
    select {
      height: 2.75rem;
    }
  
    textarea {
      padding: 0.75rem 1rem;
    }
  
    input[type="checkbox"],
    input[type="radio"] {
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
      display: block;
      float: left;
      margin-right: -2rem;
      opacity: 0;
      width: 1rem;
      z-index: -1;
    }
  
      input[type="checkbox"] + label,
      input[type="radio"] + label {
        text-decoration: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        font-weight: 300;
        padding-left: 2.4rem;
        padding-right: 0.75rem;
        position: relative;
        margin-bottom: 0;
      }
  
        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          text-transform: none !important;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
        }
  
        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
          border-radius: 4px;
          border: solid 1px;
          content: '';
          display: inline-block;
          font-size: 0.8rem;
          height: 1.65rem;
          left: 0;
          line-height: 1.65rem;
          position: absolute;
          text-align: center;
          top: 0;
          width: 1.65rem;
        }
  
      input[type="checkbox"]:checked + label:before,
      input[type="radio"]:checked + label:before {
        content: '\f00c';
      }
  
    input[type="checkbox"] + label:before {
      border-radius: 4px;
    }
  
    input[type="radio"] + label:before {
      border-radius: 100%;
    }
  
    ::-webkit-input-placeholder {
      opacity: 1.0;
    }
  
    :-moz-placeholder {
      opacity: 1.0;
    }
  
    ::-moz-placeholder {
      opacity: 1.0;
    }
  
    :-ms-input-placeholder {
      opacity: 1.0;
    }
  
    label {
      color: #000000;
    }
  
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="url"],
    select,
    textarea {
      border-color: rgba(0, 0, 0, 0.2);
    }
  
      input[type="text"]:focus,
      input[type="password"]:focus,
      input[type="email"]:focus,
      input[type="tel"]:focus,
      input[type="search"]:focus,
      input[type="url"]:focus,
      select:focus,
      textarea:focus {
        border-color: #47D3E5;
        box-shadow: 0 0 0 1px #47D3E5;
      }
  
    select {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.2)' /%3E%3C/svg%3E");
    }
  
      select option {
        color: #000000;
        background: #ffffff;
      }
  
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      color: #000000;
    }
  
      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        border-color: rgba(0, 0, 0, 0.2);
      }
  
    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
      background-color: #000000;
      border-color: #000000;
      color: #ffffff;
    }
  
    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
      border-color: #47D3E5;
      box-shadow: 0 0 0 1px #47D3E5;
    }
  
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.75) !important;
    }
  
    :-moz-placeholder {
      color: rgba(0, 0, 0, 0.75) !important;
    }
  
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.75) !important;
    }
  
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.75) !important;
    }


    