body {
    margin: 0;
    background: linear-gradient(to right, #11998e, #38ef7d);
  }

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #111;
    height: 80px;
  }
  
  ul.topnav li a.active {background-color: #4CAF50;
    height: 80px;
  }
  
  ul.topnav li.right {float: right;}
  
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, th {
    border: 1px solid rgba(54, 151, 41, 0.979);
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: rgba(255, 243, 132, 0.425);}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .button {
    background-color: #00fd0d67;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  
  .dropbtn {
    background-color: #b9ffbc;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b9ffbc;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(255, 243, 132);
  }
  
  
  
  h2{
    padding: 5px;
    color: white;
    font-size: 30px;
    border: none;
    text-align: center;
    margin: 4px 2px;
  }
  
  