body{
  background: -webkit-linear-gradient(to right, #1d976c, #93f9b9);
  background: linear-gradient(to right, #11998e, #38ef7d);
  margin: 0;

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
  height: 33px;
}

ul.topnav li a.active {background-color: #4CAF50;
  height: 33px;
}

ul.topnav li.right {float: right;}



.box {
  position: relative;
  display: block;
  width: 23%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  height:40px;
  border-radius: 3%;
background-color:#C6FFDD}

.fas{
  color: black;
}

/*Footer*/
#footer{
  text-align: center;
  
}

.social-icon {
  margin: 20px 10px;
}

#spec{
  color: white;
}


#title{
  font-size:25px;
  font-family: 'Orelega One', cursive;
}


#title1{
  font-size:25px;
  font-family: 'Lucida';
  color:firebrick;
}
.btn {
  background: #3498db;
 
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: red;

  text-decoration: none;
}